:root {
    --font-btn: 'Lumanosimo', sans-serif;
    --font-all: 'Poppins', sans-serif;

    --container-width: 900px;
    --game-width: 450px;

    --color-100: #fafafa;
    --color-200: #e5e5e5;
    --color-300: #a3a3a3;
    --color-400: #737373;
    --color-500: #262626;
    --color-600: #0a0a0a;

    --fs-50: 0.825rem;
    --fs-100: 1.125rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.25rem;

    --pad-xs: 4px;
    --pad-sm: 8px;
    --pad-md: 18px;
    --pad-lg: 32px;
    --pad-xl: 48px;
    
    --border-radius-sm: 8px;
    --border-radius-lg: 16px;

    --shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
}


/* Resetting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-all);
}


/* Footer Support and Utilities */
html {
    min-height: 100vh;
    position: relative;
    font-size: 16px;
}

button {
    font-size: var(--fs-200);
    font-weight: bold;
    font-family: var(--font-btn);

    cursor: pointer;

    outline: none;
    border: none;
    border-radius: var(--border-radius-sm);

    background: var(--color-500);
    color: var(--color-100);
}


/* Main Page */
.main {
    background: var(--color-200);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.container {
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pad-lg);
    padding: var(--pad-md);
}

.container h1 {
    font-size: var(--fs-600);
    color: var(--color-600);
    margin-bottom: var(--pad-sm);
}

.container .choose {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--pad-lg);
}

.container .choose.inactive {
    display: none;
}

.container .choose button {
    width: 4rem;
    height: 2rem;
    box-shadow: var(--shadow);

    transition: all .2s ease-in-out;
}

.container .choose button:hover {
    transform: scale(1.1);
}

.container .turn {
    font-size: var(--fs-200);
    font-style: italic;
}

/* GameBoard */
.game-container {
    width: var(--game-width);
    height: var(--game-width);
    margin-top: var(--pad-md);
    padding: var(--pad-lg);

    border-radius: var(--border-radius-lg);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--pad-md);

    background: var(--color-400);
}

.game-container.active {
    display: grid;
}

.game-container button {
    font-size: var(--fs-500);
    box-shadow: var(--shadow);
    transition: all .3s ease-in-out;
}

.game-container button:hover {
    transform: scale(.9);
}

.game-container button.win {
    transform: scale(.9);
}


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pad-md);
    font-size: var(--fs-200);

    background: var(--color-500);
    color: var(--color-100);
    padding: var(--pad-md);
}

.footer .copyright {
    margin-bottom: var(--pad-xs);
}

.github-icon {
    height: 34px;
}

.footer .github:hover {
    animation: rotate .75s ease-in-out;
}

@keyframes rotate {
    0%,
    100% {
        rotate: 0deg;
    }

    50% {
        rotate: 360deg;
        transform: scale(1.2);
    }
}